.homepage-hero
  margin-top: 20px
  height 580px
  width 100%
  background url("/images/home-screenshot.png")
  background-repeat no-repeat
  background-position 0% 50%


  .text
    float right
    margin-top: 240px