.guide
  stroke-width 1px
  stroke-dasharray 4 4
  stroke rgb(51, 51, 51)
  fill none

@media screen and (max-width: 962px)
  .guide
    stroke-width 3px

.arc
  fill none
  vector-effect non-scaling-stroke

.circumference-guide
  composes: guide

.radius-guide
  composes: guide
