/*
 * CSS specific to overiding individual bootstrap and font-awesome components should go here
 */

.btn
  i[class^="icon-"]
    &:last-child
      margin-left 10px
    &:first-child
      margin-right 10px
